{% include 'dashborad/header.html' %}
{% load static %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>General Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">General</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">

            <div class="row">
              <div class="col-md-10">
                <h3>
                  Contact Us Details
                </h3>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <!-- Bordered Table -->
            <table class="table table-bordered  table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Description</th>
                  

                </tr>
              </thead>
              {% for contact in contacts %}
              <tbody>
                <tr>
                  <th scope="row">{{contact.id}}</th>
                  <td>{{contact.name}}</td>
                  <td>{{contact.email}}</td>
                  <td>{{contact.phone}}</td>
                  <td>{{contact.des}}</td>
                
                </tr>
              </tbody>
              {% endfor %}
            </table>
            <!-- End Bordered Table -->
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% include 'dashborad/footer.html' %}