{% include 'user_dashboard/header.html' %}
{% load static %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Car Booking form</h5>

                        <!-- General Form Elements -->
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="validationCustom04" class="form-label">Vehicle Name</label>
                                <select class="form-select" name="vehicle_name" id="validationCustom04" required>
                                    {% for vehicle in vehicles %}
                                    <option selected value="{{vehicle.id}}">{{vehicle.car_name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-4 col-form-label">Booking Date</label>
                                <div class="col-sm-10">
                                    <input type="date" name="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <button type="submit" name="submit" class="btn btn-primary" ver>Submit</button>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
        </div>

        </div>
        </div>
    </section>

</main><!-- End #main -->

{% include 'user_dashboard/footer.html' %}