{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Car rental</title>
      <link rel="icon" href="{% static 'website/images/logo1.png'%}">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">

          <!-- Tweaks for older IEs-->
          <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static '/website/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static '/website/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static '/website/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static '/website/images/fevicon.png' %}" type="image/gif" />
      <!-- font css -->
      
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static '/website/css/jquery.mCustomScrollbar.min.css' %}">
  
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="index.html"><img src="{% static '/website/images/logo.png' %}"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'vehicle' %}">Vehicle</a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_register' %}">Register</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_login' %}">LOgin</a>
                     </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                  </form>
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <div class="call_text_main">
        <div class="container">
           <div class="call_taital">
              <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">Location</span></a></div>
              <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">(+71) 8522369417</span></a></div>
              <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_15">demo@gmail.com</span></a></div>
           </div>
        </div>
     </div>